* {
  box-sizing: border-box;
}

body {
  background: radial-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 1, 0.6) ),url('../images/money.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  font-family: 'Cormorant Garamond', serif;
}


/*//////   HEADER   //////*/

header {
  background-color: #373737;
  color: #C0B283;
  height: 5em;
  font-size: 1.75em;
}

.headline {
  text-align: center;
  font-size: 3em;
}


/*//////  INFO //////*/

.info {
  
}

.info_text {
  
}



/*///////  HERO  //////*/


section {
  background: none;
}


.search, .results,  {
  background-color: #F4F4F4;
}

.card-panel {

}

.search_text {
  text-align: center;
  font-size: 2.75em;
  margin: 0.5em auto 1em auto;
}

.search_box {
  font-size: 2em;
}


/* label color */
.input-field label {
  color: #000;
  font-size: 1.5em;
}
/* label focus color */
.input-field input[type=text]:focus + label {
  color: #000;
}
/* label underline focus color */
.input-field input[type=text]:focus {
  border-bottom: 1px solid #000;
  box-shadow: 0 1px 0 0 #000;
}
/* valid color */
.input-field input[type=text].valid {
  border-bottom: 1px solid #000;
  box-shadow: 0 1px 0 0 #000;
}
/* invalid color */
.input-field input[type=text].invalid {
  border-bottom: 1px solid #000;
  box-shadow: 0 1px 0 0 #000;
}
/* icon prefix focus color */
.input-field .prefix.active {
  color: #000;
}

.search_form {
  
}

ul.dropdown-content.select-dropdown li span {
  color: black;
  font-size: 0.75em;
}

.search_input ul.dropdown-content.select-dropdown li span {
  font-size: 1.25em; 
}


.input_field {
  text-align: center;
}

.select-wrapper input.select-dropdown {
  font-size: 1em;
  text-align: center;
}

.search_input .select-wrapper input.select-dropdown {
  font-size: 1.5em;
  text-align: center;
}

.search_advanced {
  text-align: center;
  color: #C0B283;
  cursor: pointer;
  font-size: 1.2em;
}


.btn {
  background-color: #373737;
}

.btn:hover {
  background-color: black;
}


/*///////   RESULTS   //////*/

.results {
  display: none;
}


.scrollable {
  max-height: 45em;
  overflow: scroll;
}

.no_result {
  font-style: italic;
}

/*///////   SEARCH AGAIN   //////*/

.search_again {
  display: none;
  background: none;
}


/*////// SEARCH //////*/



.donor {
  
}

.donor_headline {
  text-align: center;
  color: white;
  background-color: blue;
}

.question_box {
  margin: 1em;
}

.all_donors_data_city {
  
}

.all_donors_data_state {
  
}

.all_donors_submit {
  
}


.all_donors_submit {
  text-align: center;
  padding: 2em;
  clear: both;
}


.donor {
  
}

#presidential_data {
  
}

#presidential_data_city {
  
}

#presidential_data_state {
  
}

#campaign_id {
  border: 1px red solid; 
}

.presidential_submit {
  
}


.presidential_submit {
  text-align: center;
  text-align: center;
  padding: 2em;
  clear: both;
}


.presidential_donor_info {
  background-color: #9E9EA4;
  margin: 0.5em auto;
}







/*////// RESULTS //////*/


.all_donor_results {
  
}

.presidential_results {
  
}


.results_headline {
  text-align: center;
  font-size: 1.5em;
  font-weight: bold;
}


.all_donor_info_template {
  display: none;
}

.all_donor_info{
  background-color: #9E9EA4;
  margin: 0.5em auto;
  padding: 1em;
}

.lighter {
  background-color: #E0E0E0;
}

.name {
  font-weight: bold;
  padding-top: 0.3em;
}

.committee {
  font-weight: bold;
  padding-top: 0.3em;
}

.amount {
  font-weight: bold;
  padding-top: 0.3em;

}

.date {
  padding-top: 0.3em;
  font-weight: bold;
}


.contributor_name {
  padding-left: 1.5em;
  font-weight: normal;
}

.committee_name {
  padding-left: 1.5em;
  font-weight: normal;
}

.contribution_amount {
  padding-left: 1.5em;
  font-weight: normal;
}

.contribution_date {
  padding-left: 1.5em;
  font-weight: normal;
}


.search_input_templates {
  display: none;
}

.results_templates {
  display: none;  
}

.search_again .btn {
  background-color: #C0B283;
  cursor: pointer;
}




table {
  table-layout: fixed;
}

thead tr th {
  font-weight: 600;
  font-size: 1.5em;
}