* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  overflow: auto;
}

body {
  background-image: linear-gradient(to bottom, #fbfde5, #f8f5ed);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  width: 100%;
  height: 100%;
}

.background {
  background: radial-gradient( rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1) ),url('../images/flag.gif');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  width: 100%;
  height: 100%;
  z-index: -1000;
  position: absolute;
  opacity: 0.08;
}

.hero {
  z-index: 1000;
  height: 100%;
}



.main {
  margin-left: 2em;
  border: 0.1em solid red;
}



/*//////   HEADER   //////*/

header {

}

.headline {
  font-family: HelveticaNeue-Bold;
  font-size: 3rem;
  text-align: center;
  color: #3d4452;
  margin-top: 0.5em;
  line-height: 1.2em;
}

.headline-text {
  font-family: HelveticaNeue-Light;
  font-size: 2em;
  text-align: center;
  color: #3d4452;
  margin-top: 0.5em;
}


/*//////  INFO //////*/

.filter_button {
  margin: 1em 1em 1em auto;
  background: radial-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) );
}



/*///////  HERO  //////*/

section {
  background: none;
}


.search, .results,  {
  background-color: #F4F4F4;
}

.card-panel {

}

.search_text {
  text-align: center;
  font-size: 2em;
  margin: 0.5em 1em 1em 1em;
}

.search_box {
  font-size: 1.5em;
}

.search_options {
  text-align: center;
}

.search_options_header {
  margin: 0.5em;
}

.search_options a {
  margin: 0.5em;
}

.input-field {

}

.input-field label {
  font-family: HelveticaNeue-Light;
  color: #9b9b9b;
  font-size: 2em;
  top: 0em;
}
/* label focus color */
.input-field input[type=text]:focus + label {
  color: #3d4452;
}

/* label underline focus color */
.input-field input[type=text]:focus {
  border-bottom: 1px solid #000;
  box-shadow: 0 1px 0 0 #000;
  font-size: 2em;
  font-family: HelveticaNeue;

}
/* valid color */
.input-field input[type=text].valid {
  border-bottom: 1px solid #000;
  box-shadow: 0 1px 0 0 #000;
}
/* invalid color */
.input-field input[type=text].invalid {
  border-bottom: 1px solid #000;
  box-shadow: 0 1px 0 0 #000;
}
/* icon prefix focus color */
.input-field .prefix.active {
  color: #3d4452;
}

.search_form {
  
}

ul.dropdown-content.select-dropdown li span {
  color: black;
  font-size: 0.75em;
}

.search_input {
  background-color: none;
}

.search_input ul.dropdown-content.select-dropdown li span {
  font-size: 1em; 
}

.input_field {
  text-align: left;
}

.select-wrapper input.select-dropdown {
  font-size: 2em;
  text-align: left;
  color: #3d4452;
  font-family: HelveticaNeue-Light;
}

.search_input .select-wrapper input.select-dropdown {
  font-size: 2em;
  text-align: left;
}

.search_advanced {
  text-align: center;
  font-family: HelveticaNeue-Light;
  color: #4a90e2;
  cursor: pointer;
  font-size: 1em;
}

.btn {
  background-color: #4990e2;
}

.btn:hover {
  background-color: #195daa;
}

button:focus {
  background-color: #195daa;
}

.submit {
  width: 25em;
}

.disclaimer {
  font-family: HelveticaNeue;
  font-size: 16px;
  font-weight: 300;
  font-style: italic;
  font-stretch: normal;
  text-align: center;
  color: #3d4452;
}



/*///////   RESULTS   //////*/

.results_box {
  overflow: auto;
}

.results {
  display: none;
}

.results thead > tr th {
  font-family: HelveticaNeue-Bold
}

.results tbody > tr td {
  font-family: HelveticaNeue;
}

.result_name {
  font-weight: bold;
}

.result_city {
  font-style: italic;
}

.scrollable {
  max-height: 30em;
  overflow: scroll;
}

.no_result {
  font-style: italic;
}




/*///////   SEARCH AGAIN   //////*/

.search_again {
  display: none;
  background: none;
}




/*////// SEARCH //////*/

.donor {
  
}

.donor_headline {
  text-align: center;
  color: white;
  background-color: blue;
}

.question_box {
  margin: 1em;
}

.all_donors_data_city {
  
}

.all_donors_data_state {
  
}

.all_donors_submit {
  
}

.all_donors_submit {
  text-align: center;
  padding: 2em;
  clear: both;
}

.donor {
  
}



/*////// RESULTS //////*/


.all_donor_results {
  
}

.results_headline {
  text-align: center;
  font-size: 1.5em;
  font-weight: bold;
}

.all_donor_info_template {
  display: none;
}

.all_donor_info{
  background-color: #9E9EA4;
  margin: 0.5em auto;
  padding: 1em;
}

.lighter {
  background-color: #E0E0E0;
}

.name {
  font-weight: bold;
  padding-top: 0.3em;
}

.committee {
  font-weight: bold;
  padding-top: 0.3em;
}

.amount {
  font-weight: bold;
  padding-top: 0.3em;

}

.date {
  padding-top: 0.3em;
  font-weight: bold;
}

.contributor_name {
  padding-left: 1.5em;
  font-weight: normal;
}

.committee_name {
  padding-left: 1.5em;
  font-weight: normal;
}

.contribution_amount {
  padding-left: 1.5em;
  font-weight: normal;
}

.contribution_date {
  padding-left: 1.5em;
  font-weight: normal;
}

.search_input_templates {
  display: none;
}

.results_templates {
  display: none;  
}

.search_again .btn {
  cursor: pointer;
}

table {
  table-layout: fixed;
}

thead tr th {
  font-weight: 600;
  font-size: 1.5em;
}


/*//////   MEDIA QUERIES   //////*/

@media only screen and (max-width: 760px), (min-device-width: 768px) and (max-device-width: 1024px) {
  
  .headline {
    font-size: 2em;
  }

  .headline-text {
    font-size: 1.5em;
  }

  .select-wrapper input.select-dropdown, .search_input  .select-wrapper input.select-dropdown {
    font-size: 1.5em;
    text-align: center;
  }

  .input-field label {
    font-size: 1.5em;
    text-align: center;
  }

  /* Force table to not be like tables anymore */
  table, thead, tbody, th, td, tr { 
    display: block; 
  }

  /* Hide table headers (but not display: none;, for accessibility) */
  thead tr { 
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

  td { 
    /* Behave  like a "row" */
    border: none;
    border-bottom: 1px solid #eee; 
    position: relative;
    padding-left: 50%; 
  }
  
  td:before { 
    /* Now like a table header */
    position: absolute;
    /* Top/left values mimic padding */
    top: 23%;
    left: 6px;
    width: 45%; 
    padding-right: 10px; 
    white-space: nowrap;
    font-weight: bold;
    font-size: 1.2em;
  }

  td:nth-of-type(1):before { content: "Name"; }
  td:nth-of-type(2):before { content: "Committee"; }
  td:nth-of-type(3):before { content: "Amount"; }
  td:nth-of-type(4):before { content: "Date"; }

  
  /*  https://css-tricks.com/responsive-data-tables/ */
}

















